<html>
  <head>
  <title>Tic-Tac-Toe | Mukil Elango</title>
<link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500|Material+Icons" rel="stylesheet" />
<style type='text/css'>
body {
  background-color: rgb(121,134,203);
  font-family: RobotoDraft, sans-serif;
}
md-card-content {
  background-color: rgba(255, 255, 255, 0.67);
  padding: 0px !important;
}
.choose {
  background: transparent;
  box-shadow: none;
}
.choose .wrap {
  display: flex;
  flex-direction: row;
  padding: 16px;
  width: 250px;
  justify-content: space-around;
}
.choose .md-fab {
  background: white;
  color: grey;
  font-size: 32px;
}
.choose .material-icons {
    line-height: 56px !important;
}
.choose .md-fab:hover {
  background: rgb(238,238,238) !important;
}
.choose span {
  text-align: center;
}
.main md-card {
  padding: 12px;
  margin: 4px;
  background: rgb(238,238,238);
  border-bottom: solid 2px rgb(238, 238, 238)
}
table td {
  width: 60px;
  height: 60px;
  background-color: #7986CB;
  vertical-align: middle;
  text-align: center;
  outline: none;
}
table {
  border-spacing: 4px;
  font-size: xx-large;
  color: rgba(255,255,255,0.87);
  -webkit-user-select: none;
}
tbody {
  display: block;
  margin: -8px;
}
md-toast {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0px !important;
}
</style>
  </head>
  <body ng-app="TicTacToe" ng-controller='pCtrl' layout='column' layout-align='center center' ng-cloak>
    <span class='md-display-2' style='color: rgba(255,255,255, 0.87)'>Tic-Tac-Toe</span>
    <md-card ng-hide='hide' class='choose'>
      <span class='md-title' style='padding: 8px 0 0 0; color: rgba(255,255,255,0.87); font-family: RobotoDraft, sans-serif;'>
        Select Player
      </span>
      <div class='wrap'>
      <div ng-click="user = 'X'; hide=true; set()" class='md-button md-fab md-whiteframe-z1'><i class='material-icons'>close</i></div>
      <div ng-click="user = 'O'; hide=true; set()" class='md-button md-fab md-whiteframe-z1'><i class='material-icons'>panorama_fish_eye</i></div>
      </div>
    </md-card>
    <md-card ng-show='hide' style='background: transparent; box-shadow: none;' class='main'> 
       <md-card-title>
         <md-card class="md-raised" ng-disabled='true' ng-class="{'md-whiteframe-z3': turn}">You: {{win.user}}</md-card>
         <md-card class="md-raised" ng-disabled='true' ng-class="{'md-whiteframe-z3': !turn}">Opp: {{win.com}}</md-card>
       </md-card-title>

       <md-card-content>
         <table>
           <tr>
             <td ng-click='pMove($event)' class='one'>{{game.one}}</td>
             <td ng-click='pMove($event)'class='two'>{{game.two}}</td>
             <td ng-click='pMove($event)' class='three'>{{game.three}}</td>
           </tr>
           <tr>
             <td ng-click='pMove($event)' class='four'>{{game.four}}</td>
             <td ng-click='pMove($event)' class='five'>{{game.five}}</td>
             <td ng-click='pMove($event)' class='six'>{{game.six}}</td>
           </tr>
           <tr>
             <td ng-click='pMove($event)' class='seven'>{{game.seven}}</td>
             <td ng-click='pMove($event)' class='eight'>{{game.eight}}</td>
             <td ng-click='pMove($event)' class='nine'>{{game.nine}}</td>
           </tr>
         </table>
         </md-card-content>
       </md-card>
    <md-button class='md-raised' ng-click='reset()' ng-show='hide'>Reset</md-button>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type='text/javascript'>
    var app = angular.module('TicTacToe', ['ngMaterial']);
app.controller('pCtrl', function($scope, $timeout, $mdToast) {
  $scope.game = {
    one: '',
    two: '',
    three: '',
    four: '',
    five: '',
    six: '',
    seven: '',
    eight: '',
    nine: ''
  };
  $scope.temp = {};
  $scope.winner = false;
  $scope.win = {
    user: 0,
    com: 0
  };
  $scope.user = 'X';
  $scope.com = 'O';
  $scope.turn = true;
  $scope.hide = false;
  $scope.isWon = function(t) {
    if (t.one == t.two && t.two == t.three && t.three != '') {
      return t.one;
    } else if (t.one == t.four && t.four == t.seven && t.seven != '') {
      return t.one;
    } else if (t.one == t.five && t.five == t.nine && t.nine != '') {
      return t.one;
    } else if (t.two == t.five && t.five == t.eight && t.eight != '') {
      return t.two;
    } else if (t.three == t.five && t.five == t.seven && t.seven != '') {
      return t.three;
    } else if (t.three == t.six && t.six == t.nine && t.nine != '') {
      return t.three;
    } else if (t.four == t.five && t.five == t.six && t.six != '') {
      return t.four;
    } else if (t.seven == t.eight && t.eight == t.nine && t.nine != '') {
      return t.seven;
    } else {
      return false;
    }
  };
  $scope.winPossib = function(test, p) {
    angular.copy($scope.game, $scope.temp);
    if (p == 'com') {   
      $scope.temp[test] = $scope.com;
      if ($scope.isWon($scope.temp) != false) {
        return true;
      } else {
        return false;
      }
    } 
    else if (p == 'user') {
      $scope.temp[test] = $scope.user;
      if ($scope.isWon($scope.temp) != false) {
        return true;
      } else {
        return false;
      }
    }
    $scope.temp = {};
  };
  
  $scope.getMove = function() {
    var ran = [];
    for(var tic in $scope.game) {
      if ($scope.game[tic] == '' && $scope.turn == false) {
        if ($scope.winPossib(tic, 'com') == true) {
          $scope.game[tic] = $scope.com;
          $scope.winner = $scope.com;
          $scope.win.com += 1;
          $scope.turn = true;
          $mdToast.show($mdToast.simple().textContent('You Lost!'));
          $timeout(function() {$scope.nextgame();}, 1000);
        } else if ($scope.winPossib(tic, 'user') == true) {
          $scope.game[tic] = $scope.com;
          $scope.turn = true;
        } else {
          ran.push(tic);  
        }
      }
    }
    if($scope.turn == false && $scope.winner == '') {
      $scope.turn = true;
      var r = ran[Math.floor(Math.random()*ran.length)];
      $scope.game[r] = $scope.com;
      if($scope.isDraw() == true) {
        $mdToast.show($mdToast.simple().textContent('Its a Draw!'));
        $timeout(function() {$scope.nextgame();}, 1000);
      }
    }
  };
  
  $scope.pMove = function($event) {
    if ($scope.winner == false && $scope.turn == true) {
      $scope.turn = false;
      if ($event.target.innerText === '') {
        $scope.class = $($event.target).attr("class").split(' ')[0];
        $scope.game[$scope.class] = $scope.user;
        $scope.winner = $scope.isWon($scope.game);
        if( $scope.winner == false ) {
          if($scope.isDraw() == false ) {
            $timeout(function() { $scope.getMove();}, 1000);
          } 
          else {
            $mdToast.show($mdToast.simple().textContent('Its a Draw!'));
            $timeout(function() {$scope.nextgame();}, 1000);
          } 
        }
        else if ( $scope.winner == $scope.user ) {
          $mdToast.show($mdToast.simple().textContent('You Won!'));
          $scope.win.user += 1;
          $timeout(function() {$scope.nextgame();}, 1000);
        }
      }
    }
  };
 
  $scope.set = function() {
    if ($scope.user == 'X') {
      $scope.com = 'O';
      $scope.turn = true;
    } else {
      $scope.com = 'X';
      $scope.turn = false;
      $scope.getMove();
    }
  };
  $scope.reset = function() {
    for (var keys in $scope.game) {
      $scope.game[keys] = '';
    }
    $scope.winner = false;
    $scope.hide = false;
    $scope.user = '';
    $scope.com = '';
    $scope.turn = true;
    $scope.win.user = 0;
    $scope.win.com = 0;
    $mdToast.show($mdToast.simple().textContent('Lets start a new game!'));
  };
  $scope.nextgame = function() {
    for (var keys in $scope.game) {
      $scope.game[keys] = '';
    }
    $scope.winner = false;
    if($scope.user == 'X') {
      $scope.turn = true;
    }
    else {
      $scope.turn = false;
      $scope.getMove()
    }
  };
  
  $scope.isDraw = function() {
    for( var keys in $scope.game) {
      if($scope.game[keys] === '') {
        return false;
      }
      else {
        continue;
      }
    }
    return true;
  };
});
    </script>
  </body>
</html>    